body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: white;
}

a {
    color: black;
}

.section {
    border-radius: 10px;
    padding: 20px;
    background-color: #FFCCD9;
}

.section2 {
    margin-top: 15px;
    border-radius: 20px;
    padding: 20px;
    background-color: royalblue;
    color: #f5f5f5;
    font-size: 115%;
}

.padding {
    padding: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.expandTheBottom {
    margin-bottom: 100px;
}