.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;

}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: darkred;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: goldenrod;
}

.otherText{
    color: darkslategrey;
    font-size: 20px;
    text-wrap: normal;
    padding-right: 15%;
    padding-left: 15%;
}

.bigger-size {
    font-size: 35px;
}

.marginVert {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}