.info{
    font-size: 30px;

    border-color: white;
    color: black;
    /*border: 1px white solid;*/
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.FancyBox {
    background-color: lightgray;
    border-radius: 1px;
    margin: 20px;
    border:0px #000000 solid;
}